<h1>Microposts</h1>

  <head>

<!--copied from inspect element-->
<form accept-charset="UTF-8" action="/microposts" class="new_micropost" id="new_micropost" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" value="✓" type="hidden"><input name="authenticity_token" value="GM07sYOPAr/c5lF+/j058IdGrKvqCumK6xz9SrZZG8U=" type="hidden"></div>
<div class="booyah2-box ccol-xs-10 col-xs-offset-1 col-sm-offset-1 col-sm-8">
  <div class="field">
    <label for="micropost_content">What would you like to say?</label><br>
    <textarea id="micropost_content" name="micropost[content]"></textarea>
  </div>
  <div class="actions">
    <input name="commit" value="Create Micropost" type="submit">
  </div>
</form>

<!-- end -->
</div>
  </head>
<div class="clear"> </div>

  <body> 
    <% @microposts.each do |micropost| %>
    <div class="booyah-box col-xs-10 col-xs-offset-1 col-sm-offset-1 col-sm-8">
        <h4><%= micropost.content %></h4>
        <i><%= micropost.user_id %></i>
        <td><%= link_to 'Show', micropost %></td>
        <td><%= link_to 'Edit', edit_micropost_path(micropost) %></td>
        <td><%= link_to 'Destroy', micropost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <br />
    </div>
    <% end %>
    <br />
    <br />
    <br />
    <br />

   </body>

<br>

